<%- include('parts/html_head') %>

<div class="container">
<%- include('parts/navbar') %>

<% if(locals.message) { %>
<div class="alert alert-<%= message.type %>" role="alert">
    <%= message.text %>
</div>
<% } %>

<div class="row">
    <div class="col-md-6">
        <h5 class="card-title">新增菜色</h5>
        <form method="post">
                <select name="onboard" id="onboard" class="form_control col-md-6">
                        <option value="" selected>請選擇狀態</option>
                        <option value="上架中">上架</option>
                        <option value="下架中">下架</option>
                </select>
        </form>
    </div>
</div>

<a href="/dinner">回列表</a>


<script>
    
</script>

<%- include('parts/html_foot') %>