<%- include('parts/html_head') %>

<div class="container">
<%- include('parts/navbar') %>
<p><%= name %></p>
<a href="<%= img %>" data-lightbox="image" data-title="My caption"><img src="<%= img %>" alt="">
<a href="<%= img %>" data-lightbox="image" data-title="My caption"><img src="<%= img %>" alt="">
<a href="<%= img %>" data-lightbox="image" data-title="My caption"><img src="<%= img %>" alt="">

<%- include('parts/html_foot') %>