<%- include('parts/html_head') %>

<div class="container">
<%- include('parts/navbar') %>
<table class="table">
    <thead>
        <tr>
            <th scope="col">姓名</th>
            <th scope="col">年齡</th>
            <th scope="col">編號</th>
        </tr>
    </thead>
    <tbody>
        <% for(let item of my_var){ %>
        <tr>
            <td><%= item.name %></td>
            <td><%= item.age %></td>
            <td><%= item.id %></td>
        </tr>
        <% } %>
    </tbody>
</table>
</div>

<%- include('parts/html_foot') %>