<%- include('parts/html_head') %>

<div class="container">
<%- include('parts/navbar') %>

<div class="col-log-6">
    <form method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email">
            <% if(locals.email){ %>
                <small><%= JSON.stringify(locals)%></small><br>
                <small><%= email %></small>
            <% } %>
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="text" class="form-control" name="password">
            <% if(locals.password){ %>
                <small><%= password %></small>
            <% } %>
            <input type="submit">
        </div>
    </form>
</div>

<%- include('parts/html_foot') %>