<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="/lib/lodash.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search_input">
          <button class="btn btn-outline-success my-2 my-sm-0" id="search_btn">Search</button>
        </form>
      </div>
    </nav>

    <div class="row">
      <div class="container">
        <div class="box">
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm flex" id="pagination">
            </ul>
          </nav>
        </div>
      </div>
    </div>
    
    <div class="container">
      
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">餐廳名稱</th>
          <th scope="col">中西式</th>
          <th scope="col">主食或主菜</th>
          <th scope="col">菜色名稱</th>
          <th scope="col">簡介</th>
          <th scope="col">狀態</th>
          <th scope="col" class="dinner_img">菜色照片</th>
        </tr>
      </thead>
      <tbody id="t_content">
    
      </tbody>
    </table>
    
    </div>
    
      <script>
        const pagination = $('#pagination');
        const t_content = $('#t_content');

        const pagination_str = `
                <li class="page-item <%= active %>">
                    <a class="page-link" href="#/<%= i %>/<%= keyword %>"><%= i %></a>
                </li>
            `;

        const table_row_str = `
          <tr class="table_row justify-content-around">
              <td><%= dinner_id %></td>
              <td><%= restaurant_id %></td>
              <td><%= main_cat %></td>
              <td><%= small_cat %></td>
              <td><%= name %></td>

              <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#intro-<%= dinner_id %>">
                  詳細內容
                </button>
                <!-- Modal -->
              <div class="modal fade" id="intro-<%= dinner_id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%= intro %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">收回</button>
                    </div>
                  </div>
                </div>
              </div>              
            </td>     


            
              <td><%= onboard %></td>

              <td class="dinner_img"><%
              _.forEach(dinner_image, function(dinner_image) { %><div class="img_wrap"><img src="my_images/<%- dinner_image %>"></img></div><% });
              %></td>
          </tr>`;

        const pagination_fn = _.template(pagination_str);
        const table_row_fn = _.template(table_row_str);

        const myHashChange = function(){
          console.log(location.hash);
          let hash = location.hash.slice(2);
          console.log(hash);
          let hash_ar = hash.split('/');
          let page, keyword;
          let url = '/dinner-book';
          let ori_keyword = '';

          if(hash_ar[0]){
            page = parseInt(hash_ar[0]) || 1;
            if(hash_ar[1]){
              keyword = hash_ar[1];
              ori_keyword = keyword;
            }else{
              ori_keyword = '';
            }
          }
          if(page){
            url += `/${page}`;
            if(keyword){
              url += `/${keyword}`;
            }
          }
          console.log(url);

          fetch(url)
          .then(response=>{
            return response.json();
          })
          .then(jsonObj=>{
            console.log(jsonObj)
            pagination.html('');
            t_content.html('');

                  for(item of jsonObj.rows){
                        console.log(item);
                        new_img = JSON.parse(item['dinner_image']);
                        item.dinner_image = new_img;
                        // console.log(item.main_ingred);

                        t_content.append(table_row_fn(item));
                  }       

              let p_str = '';
                  for(i=1; i<=jsonObj.totalPages; i++){
                    let active = i===jsonObj.page ? 'active' : '';
                    pagination.append( pagination_fn({
                      i: i,
                      active: active,
                      keyword: ori_keyword
                    }));
                  }    
              $('#search_input').val(jsonObj.params.keyword);            
          })
        }

        
        window.addEventListener('hashchange', myHashChange);
        myHashChange();

        $('#search_btn').click(function(){
          let search = $('#search_input').val();
            // console.log(search);
            location.href = '#/1/' + search;
        })

      </script>

   
  </body>
</html>